/* Reset Default Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Colors */
:root {
	--alabaster-grey: #d8e2dc;
	--powder-petal: #ffe5d9;
	--pastel-pink: #ffcad4;
	--cherry-blossom: #f4acb7;
	--dusty-mauve: #9d8189;
}

/* Hide Scroll Bar */
html, body { scrollbar-width: none; -ms-overflow-style: none; }
html::-webkit-scrollbar, body::-webkit-scrollbar { display: none; }

/* Body */
body {
	
	/* Gradient Border */
	border-right: solid 10px;
	border-left: solid 10px;
	border-image-slice: 1;
	border-image-source: linear-gradient(
	to bottom,
	transparent 0%,
	var(--pastel-pink) 10%,
	var(--cherry-blossom) 90%,
	transparent 100%
	);
	
	background-color: white;
	font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
	line-height: 1.6;
	color: #333;

	/* Nav Bar Space */
	padding-top: 65px;

}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.2;
	margin: 1rem 1rem 1rem 1.5rem;
}

p, ul, ol, li {
	margin: 0.5rem 0.5rem 0.5rem 1.5rem;
}

.nested-list {
	margin-left: 0;
}

.explanation {
	color: #999;
	font-weight: 400;
	font-size: 12px;
}

/* Spacing */
.space-md { height: 1.25rem; }
.space-sm { height: 0.625rem; }

/* Links */
a {
	text-decoration: none;
	font-weight: 500;
}

.social-link {
	display: inline-block;
	vertical-align: middle;
	margin: 0.5rem;
}

.social-link img {
	display: block;
}

/* Navigation Bar */
nav {
	position: fixed;
	width: 100%;
	top: 0; left: 0; right: 0;
	z-index: 999;
	background-color: white;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

/* Vertical Lines */
.ver-line {
	background-color: #e6e6e6;
	height: 2px;
	width: calc(100%-30px);
	margin: 0 15px;
	border-radius: 1px;
}

.ver-line-2 {
	background-color: #f2f2f2;
	height: 2px;
	width: calc(100%-40px);
	margin: 0 20px;
	border-radius: 1px;
}

/* Footer */
footer {
	padding: 1rem;
	text-align: center;
}

footer p {
	font-size: 10px;
	color: #aaa;
}
