/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors */
:root {
    --alabaster-grey: #d8e2dc;
    --powder-petal: #ffe5d9;
    --pastel-pink: #ffcad4;
    --cherry-blossom: #f4acb7;
    --dusty-mauve: #9d8189;
}

body {
    min-height: 100vh;
    background-color: white;
    border: solid 15px;
    border-image-source: linear-gradient(to bottom, var(--pastel-pink), var(--cherry-blossom));
    border-image-slice: 1;
    background-attachment: fixed;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.6;
    color: #333;

    /* Tests */
    height: 2000px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
    margin: 1rem;
}

p {
    margin: 0.5rem 1rem;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Links */
a {
    margin: 0.5rem 0 0.5rem 1rem;
    text-decoration: none;
    font-weight: 500;
}

.my-youtube {
    color: var(--dusty-mauve);
}

.my-discord {
    color: var(--cherry-blossom);
}

.my-github {
    color: var(--alabaster-grey);
}
